body {
  background-color: #d9d9d9;
  margin: 0;
  background-image: url("../images/battle.jpg");
  background-position: center center; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  height: 5px; }

.container {
  width: 900px;
  background-color: white; }
  .container #center a, .container #sidebar a {
    color: #cb3333; }
  .container #center a:hover, .container #sidebar a:hover {
    color: #980000; }
  .container #center p {
    margin-left: 15px; }
  .container #sidebar {
    margin-bottom: 15px; }

#footer {
  background-color: #333333;
  color: white;
  text-align: center; }
  #footer #sponsors {
    width: 670px;
    margin: 0 auto; }
    #footer #sponsors #new-relic .img-container {
      padding-top: 28px;
      padding-bottom: 28px; }
    #footer #sponsors .sponsor {
      text-align: left;
      margin: 5px;
      padding: 10px; }
      #footer #sponsors .sponsor a {
        color: #cb3333; }
      #footer #sponsors .sponsor a:hover {
        color: #980000; }
      #footer #sponsors .sponsor .img-container {
        background-color: white;
        padding: 10px;
        text-align: center; }

#copy {
  width: 900px;
  text-align: center;
  margin: 0 auto; }

#tagline {
  background-color: #555555;
  font-size: 150%;
  color: white;
  margin: 15px 0 0 0;
  padding: 10px 20px; }

#signup {
  text-align: center;
  font-size: 170%; }

.highlight {
  background: #ffffcc; }

.archive_link {
  text-align: center; }
