---
title:      Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup Mar 14, 2012
.presentation
  %h3 060: Dave Woodward - attr_accessible: Don't get caught with your pants down
  %p
    %strong 15m : 20s
    %a{:href => "http://podcast.404dev.com/episodes/060_Dave_Woodward-attr_accessible.m4v"}Watch Now

.presentation
  %h3 61: David Estes - Spud CMS
  %p
    %strong 15m : 02s
    %a{:href => "http://podcast.404dev.com/episodes/061_David_Estes-Spud_CMS.m4v"}Watch Now
    \/
    %a{:href => "https://github.com/davydotcom/spud_cms"}Code
    \/
    %a{:href => "https://github.com/davydotcom/spud_demo"}Demo

.presentation
  %h3 062: Nate Acuff - Stages
  %p
    %strong 37m : 45s
    %a{:href => "http://podcast.404dev.com/episodes/062_Nate_Acuff-Stages_Gem.m4v"}Watch Now
    \/
    %a{:href => "https://github.com/iGoDigital-LLC/stages"}Gem

.archive_link
  %a{:href => '/archive'}View Older Presentations
