---
title:      Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup Sep 14, 2011
.presentation
  %h3 045: Garrett Hart - ActiveAdmin
  %p
    %strong 13m : 14s
    %a{:href => "http://podcast.404dev.com/episodes/045_Garrett_Hart-ActiveAdmin.m4v"}Watch Now
    \/
    %a{:href => "http://activeadmin.info/"}ActiveAdmin
.presentation
  %h3 046: Alex Connor - Jruby on Windows with Warbler
  %p
    %strong 18m : 36s
    %a{:href => "http://podcast.404dev.com/episodes/046_Alex_Connor-Jruby_on_Windows_with_Warbler.m4v"}Watch Now
    \/
    %a{:href => "http://jruby.org"}Jruby
    \/
    %a{:href => "https://github.com/jruby/warbler"}Warbler

.archive_link
  %a{:href => '/archive'}View Older Presentations