---
title:      Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup Jun 14, 2012
.presentation
  %h3 070: Anthony Panozzo - Testing File Operations in Ruby
  %p
    %strong 13m : 29s
    %a{:href => "http://podcast.404dev.com/episodes/070_Anthony_Panozzo-Testing_File_Operations_in_Ruby.m4v"}Watch Now

.presentation
  %h3 071: Anthony Panozzo - RailsThemes 
  %p
    %strong 8m : 46s
    %a{:href => "http://podcast.404dev.com/episodes/071_Anthony_Panozzo-RailsThemes.m4v"}Watch Now

.presentation
  %h3 072: David Estes - My Baby Reveal
  %p
    %strong 7m : 41s
    %a{:href =>  "http://podcast.404dev.com/episodes/072_David_Estes-My_Baby_Reveal.m4v"}Watch Now
    \/
    %a{:href => "https://rubymotion.com"}RubyMotion

.archive_link
  %a{:href => '/archive'}View Older Presentations
