---
title:      Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup May 11, 2011
.presentation 
  %h3 032: Ruby News local &amp; Global with Matt Gordon
  %p
    %strong 16m : 28s
    %a{:href => "http://podcast.404dev.com/episodes/032_Matt_Gordon-Ruby_News.m4v"}Watch Now
.presentation
  %h3 033: Miles Sterrett - DataMapper
  %p
    %strong 19m : 24s
    %a{:href => "http://podcast.404dev.com/episodes/033_Miles_Sterrett-Datamapper.m4v"}Watch Now
    \/
    %a{ :href => "https://github.com/datamapper/dm-core"}Gem 
.presentation
  %h3 034: Joel Meador - Guard
  %p
    %strong 15m : 18s 
    %a{:href => "http://podcast.404dev.com/episodes/034_Joel_Meador-Guard.m4v"}Watch Now
    \/
    %a{ :href => "https://github.com/guard/guard"}Gem 
    \/
    %a{ :href => "https://github.com/janxious/guard_demo"}Presentation Code
.presentation
  %h3 035: David Woodward - Rspec Sucks (roundtable)
  %p
    %strong 25m : 33s
    %a{:href => "http://podcast.404dev.com/episodes/035_David_Woodward-Rspec_Sucks.m4v"}Watch Now
    \/
    %a{:href => "https://github.com/dchelimsky/rspec"}Gem
