---
title:      Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup Oct 13, 2011
.presentation
  %h3 047: Matt Gordon - Ruby News
  %p
    %strong 24m : 41s
    %a{:href => "http://podcast.404dev.com/episodes/047_Matt_Gordon-Ruby_News.m4v"}Watch Now

.presentation
  %h3 048: Joel Meador - Auth System Throwdown
  %p
    %strong 25m : 46s
    %a{:href => "http://podcast.404dev.com/episodes/047_Joel_Meador-Auth_System_Throwdown.m4v"}Watch Now

.presentation
  %h3 049: Nate Acuff - AWS-S3
  %p
    %strong 19m : 53s
    %a{:href => "http://podcast.404dev.com/episodes/049_Nate_Acuff-AWS-S3.m4v"}Watch Now

.presentation
  %h3 050: Dave - Enterprise Horror
  %p
    %strong 11m : 47s
    %a{:href => "http://podcast.404dev.com/episodes/050_Dave-Enterprise_Horror.m4v"}Watch Now
        
.archive_link
  %a{:href => '/archive'}View Older Presentations
