---
title:      Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup Apr 11, 2012
.presentation
  %h3 066: Joel Meador - Ruby News Global &amp; Local
  %p
    %strong 10m : 54s
    %a{:href => "http://podcast.404dev.com/episodes/066_Joel_Meador-Ruby_News.m4v"}Watch Now

.presentation
  %h3 067: Alex Conner - Why does Rails not run callbacks on nested_attributes?
  %p
    %strong 4m : 1s
    %a{:href => "http://podcast.404dev.com/episodes/067_Alex_Conner-Why_Does_Rails_Not_Run_Callbacks_on_Nested_Attributes.m4v"}Watch Now

.presentation
  %h3 068: Chris Achard - RubyMotion
  %p
    %strong 17m : 37s
    %a{:href =>  "http://podcast.404dev.com/episodes/068_Chris_Achard-RubyMotion.m4v"}Watch Now
    \/
    %a{:href => "https://rubymotion.com"}RubyMotion

.presentation
  %h3 069: Christopher Sansone - Rails + Ember.JS in 7 Minutes
  %p
    %strong 25m : 35s
    %a{:href =>  "http://podcast.404dev.com/episodes/069_Christopher_Sansone-Rails_and_EmberJS_in_7_Minutes.m4v"}Watch Now
    \/
    %a{:href => "https://emberjs.com"}Ember.JS

.archive_link
  %a{:href => '/archive'}View Older Presentations
