---
title: Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup July 9, 2014

.presentation
  %h3 Sandi Metz - All the Little Things (group watching of the RailsConf 2014 video)
  %p
    Sandi takes an ugly section of conditional code and converts it into a few simple objects. It bridges the gap between OO theory and practice and teaches straightforward strategies that all can use to improve their code.
  %p
    %strong 38m : 47s
    %a{:href => "http://www.confreaks.com/videos/3358-railsconf-all-the-little-things"}Watch Now

.presentation
  %h3
    %a{href: 'http://twitter.com/ar3_me', target: '__BLANK'}<Andrew L Robinson III
    \- Discussion on contributing to the Indy.rb UserVoice and future meeting planning
  %p
    %a{:href => "http://indyrb.uservoice.com/"}Indy.rb UserVoice Forum

.archive_link
  %a{:href => '/archive'}View Older Presentations
