---
title: Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup May 14, 2014

.presentation
  %h3 Miles Sterrett - Code Smells 2: Smell Harder
  %p
    %strong 55m : 21s
    %a{:href => "http://podcast.404dev.com/episodes/073_Miles_Sterrett-Code_Smells_2-Smell-Harder.mp4"}Watch Now

.presentation
  %h3 Chris Stephan - Developing with Docker
  %p
    %strong 58m : 54s
    %a{:href => "http://podcast.404dev.com/episodes/074_Chris_Stephan-Developing_With_Docker.mp4"}Watch Now
    \/
    %a{:href => "https://speakerdeck.com/endoze/developing-with-docker"}Slides
    \/
    %a{:href => "https://github.com/endoze/docker_playground"}Code

.archive_link
  %a{:href => '/archive'}View Older Presentations
