---
title:      Indy.rb &mdash; The Indianapolis Ruby Brigade!
filter:
  - haml
  - textile
---
.box.left.top
  #next_meetup
    %h2.bottom
      Our Next Meetup
    %strong
      Date:
    %span#next_meetup_date
    %br
    %strong
      Time:
    %span#next_meetup_time
      7:00 pm
    %br
    %a.next_meetup_event_url{ :href => "#" }
      View Location and Additional Details
    %br
    %strong
      \# Attending:
    %span#next_meetup_rsvpcount
    %a.next_meetup_event_url{ :href => "#" }
      RSVP Now!
    %br
    %br
    
    %img{ :src => "images/New-Relic-logo.gif", :style => "width:160px;margin:0 8px 2px 0" }
    %p
      %strong
        Sponsored by New Relic
      %br
      %small
        <a href="http://www.newrelic.com/RPM.html" target="_blank">New Relic RPM</a> is a Ruby on Rails Performance Management solution that enables developers to quickly and cost effectively detect, diagnose, and fix application performance problems in real time.
        %a{ :href => "http://www.newrelic.com" }
          www.NewRelic.com
    -# %p
      %img{ :src => "images/engine_yard_logo.png", :style => "width:60px;float:left;margin:0 8px 2px 0" }
        %strong
          Sponsored by EngineYard
        %br
        %small
          We focus on deployment and operations support, so you can focus on developing your business. Start while in development and scale your user base without stress along the way. Engine Yard supports the Ruby community by sponsoring the development of Rails, Merb, Rubinius and other open source projects. We're here 24/7, by phone, at (866) 518-YARD or email, at
          %a{ :href => "mailto:info@engineyard.com" }
            info@engineyard.com
          \.
  %hr
  %h2.bottom
    Our Mailing List
  %a{ :href => "http://ruby.meetup.com/89/messages/" }
    Start a Topic or View the Archive
  %hr
  %h2.bottom
    Our Tweets
  Start following at
  %a{ :class => :highlight, :href => "http://www.twitter.com/indyrb" }
    twitter.com/indyrb
  %br
  #twitter

  %hr
  %h2
    Our Sponsors

  -# NEW RELIC
  %img{ :src => "images/New-Relic-logo.gif", :style => "width:160px;margin:0 8px 2px 0" }
  %p
    %strong
      New Relic
    %br
    %small
      <a href="http://www.newrelic.com/RPM.html" target="_blank">New Relic RPM</a> is a Ruby on Rails Performance Management solution that enables developers to quickly and cost effectively detect, diagnose, and fix application performance problems in real time.
      %a{ :href => "http://www.newrelic.com" }
        www.NewRelic.com
  
  -# ENGINE YARD
  %p
    %img{ :src => "images/engine_yard_logo.png", :style => "width:60px;float:left;margin:0 8px 2px 0" }
    %strong
      EngineYard
    %br
    %small
      We focus on deployment and operations support, so you can focus on developing your business. Start while in development and scale your user base without stress along the way. Engine Yard supports the Ruby community by sponsoring the development of Rails, Merb, Rubinius and other open source projects. We're here 24/7, by phone, at (866) 518-YARD or email, at
      %a{ :href => "mailto:info@engineyard.com" }
        info@engineyard.com
      \.