---
title:      Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup June 8, 2011
.presentation
  %h3 036: Garrett Hart - Standing and Walking Desks
  %p
    %strong 30m : 38s
    %a{:href => "http://podcast.404dev.com/episodes/036_Garrett_Hart-Standing_and_Walking_Desks.m4v"}Watch Now
.presentation
  %h3 037: Kyle Shipley - Testing Best Practices in Ruby
  %p
    %strong 34m : 23s
    %a{:href => "http://podcast.404dev.com/episodes/037_Kyle_Shipley-Testing_Best_Practices_in_Ruby.m4v"}Watch Now
    \/
    %a{:href => "https://docs.google.com/present/view?id=0AZ8Yn5uyPJr8ZGQzanA1M2pfM2ZxOXdrY2dk&amp;hl=en_US&amp;pli=1"}Slides
.presentation
  %h3 038: Anthony Panozzo - The State of Ruby Testing Survey Results
  %p
    %strong 8m : 31s
    %a{:href => "http://podcast.404dev.com/episodes/038_Anthony_Panozzo-The_State_of_Ruby_Testing.m4v"}Watch Now
    \/
    %a{:href => "http://22ideastreet.com/blog/2011/06/02/the-state-of-ruby-and-testing/"}Survey Results
.presentation
  %h3 039: Anthony Panozzo - RR (Double Ruby)
  %p
    %strong 13m : 39s
    %a{:href => "http://podcast.404dev.com/episodes/039_Anthony_Panozzo-RR.m4v"}Watch Now
    \/
    %a{:href => "https://github.com/btakita/rr"}Gem

.archive_link
  %a{:href => '/archive.html'}View Older Presentations