---
title: Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup Dec 11, 2013
.presentation
  %h3 Andrew L Robinson III - Agile in a Non-agile World
  %p
    %a{:href => 'http://prezi.com/tfegr-9gr2se/agile-in-a-non-agile-world/?utm_campaign=share&utm_medium=copy'}Agile in a Non-agile World

.presentation
  %h3 Joel Meador - PDF Generation as-a-service with DocRaptor
  %p
    %a{:href => "https://docraptor.com"}DocRaptor

.presentation
  %h3 David Baldwin - Authorization
  %p
    %a{:href => 'https://github.com/baldwindavid/authorization-examples'}Authorization Examples

.presentation
  %h3 Matt Swanson - Team-Based Git Workflow (that doesn't suck!)
  %p
    %a{:href => 'http://mdswanson.com/talk/2012/03/15/lightning-talk-team-based-git-workflow-that-doesnt-suck.html'}Slides

.archive_link
  %a{:href => '/archive'}View Older Presentations
