---
title: Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup Apr 8, 2014

.presentation
  %h3 Matt Swanson - Code Smells
  %p
    %a{:href => 'https://github.com/swanson/code-smell-refactoring'}Exercises Repository

.presentation
  %h3 Chris Stephan - Chef
  %p
    %a{:href => "https://github.com/sqm/cookbook-rubycas"}Chef RubyCAS Cookbook

.archive_link
  %a{:href => '/archive'}View Older Presentations
