---
title:      Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup Apr 11, 2012
.presentation
  %h3 063: Matt Swanson - Anatomy of a Weekend Project
  %p
    %strong 9m : 31s
    %a{:href => "http://podcast.404dev. com/episodes/063_Matt_Swanson-Anatomy_of_a_Weekend_Project.m4v"}Watch Now
    \/
    %a{:href => "https://github.com/swanson"}Code

.presentation
  %h3 064: Matt Brown - 5 Brains, 2 solutions: An Experiment in Problem Solving
  %p
    %strong 31m : 36s
    %a{:href => "http://podcast.404dev.com/episodes/064_Matt_Brown-5_Brains_2_Solutions.m4v"}Watch Now
    \/
    %a{:href => "https://code.google.com/codejam"}Google Code Jam
    \/
    %a{:href => "https://github.com/gowabash/prog_challenge"}Matt's Code

.presentation
  %h3 065: Garrett Honeycutt - Expanded Introduction to Puppet
  %p
    %strong 36m : 27s
    %a{:href =>  "http://podcast.404dev.com/episodes/065_Garrett_Honeycutt-Introduction_to_Puppet.m4v"}Watch Now
    \/
    %a{:href => "https://puppetlabs.com"}Puppet Labs

.archive_link
  %a{:href => '/archive'}View Older Presentations
