---
title:      Indy.rb &mdash; The Indianapolis Ruby Brigade!
extension: html
filter:
  - haml
---
%h2 Presentations for Indy.rb Meetup Nov 9, 2011
.presentation
  %h3 051: Matt Gordon - Ruby News
  %p
    %strong 11m : 18s
    %a{:href => "http://podcast.404dev.com/episodes/051_Matt_Gordon-Ruby_News.m4v"}Watch Now

.presentation
  %h3 052: Matt Gordon - Most Learned Programmer - Is a CS degree worth it?
  %p
    %strong 19m : 40s
    %a{:href => "http://podcast.404dev.com/episodes/052_Matt_Gordon-Most_Learned_Programmer.m4v"}Watch Now

.presentation
  %h3 053: David Jones - Devstructure Blueprint
  %p
    %strong 32m : 06s
    %a{:href => "http://podcast.404dev.com/episodes/053_David_Jones-Devstructure_Blueprint.m4v"}Watch Now

.archive_link
  %a{:href => '/archive'}View Older Presentations
